*{
  box-sizing: border-box;
}

body{
  background: #111;
  color:#fff;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.lists {
  margin-top: -100px;
}

footer {
  margin: 50px;
  text-align: center;
}

.loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: rgb(206, 42, 42);
  display: flex;
  justify-content: center;
  align-items: center;
}